* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #200cff;
}

.mainDiv {
  background-color: #200cff;
  height: 100vh;
  padding: 8px;
}

.childDiv1 {
  max-width: 850px !important;
  margin: 0 auto;
  padding-top: 50px;
}

.childDiv2 {
  max-width: 850px !important;
  margin: 0 auto;
  padding-top: 25px;
}

h1 {
  color: white;
  font-weight: 400;
}

button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 20px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 8px 16px;
  margin: 10px 0px;
  border-radius: 5px;
  font-size: 20px;
}

li {
  align-items: baseline;
  margin: 12px 0px;
  padding: 8px;
  border-radius: 5px;
  list-style-type: none;
  word-break: break-all;
  font-size: 20px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.flex {
  text-align: center;
}

@media only screen and (max-width:785px) {
  .buttons {
    text-align: center;
    width: 100%;
  }
  
  li{
    flex-direction: column;

  }
}